* {
  margin: 0;
  padding: 0;
}

.btn, main .contenedorHcMain .contenedorHcMain-tres .buttonhc, main form .button-resetear, main form .button-enviar, footer .flex-footer .footer-segunda button, section form .medida-contacto .button-resetear, section form .medida-contacto .button-enviar {
  border-radius: 20px;
  width: 80px;
}

.volver-arriba, a, section a {
  padding-left: 20px;
  text-decoration: none;
  color: red;
}
.volver-arriba:hover, a:hover, section a:hover {
  color: rgb(0, 255, 149);
}

@media (max-width: 576px) {
  html, body {
    overflow-x: hidden !important;
  }
}

body {
  background-image: url(../../resources/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
  font-family: "Roboto", italic !important;
  font-size: 19px;
}
@media (max-width: 576px) {
  body {
    position: relative;
  }
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../resources/head.jpg);
  padding-top: 10px;
  margin-bottom: 35px;
}
@media (max-width: 576px) {
  header {
    margin-bottom: 23px;
  }
}
header div {
  padding-left: 15px;
  display: inline-block;
}
@media (max-width: 576px) {
  header div {
    padding-left: 2px;
  }
}
header div h1 {
  font-size: 33px;
  color: rgb(0, 89, 255);
}
@media (max-width: 576px) {
  header div h1 {
    font-size: 25px;
  }
}
header div img {
  width: 50px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  header div img {
    width: 40px;
    padding-left: 5px;
  }
}
header div nav ul {
  text-align: start;
  font-size: 17px;
  padding-top: 10px;
}
@media (max-width: 576px) {
  header div nav ul {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    padding-top: 8px;
    padding-right: 8px;
    width: 100%;
  }
}
header div nav ul li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 30px;
}
@media (max-width: 576px) {
  header div nav ul li {
    padding: 0px;
    margin: 0px;
  }
}
header div nav ul li:not(:last-of-type) {
  border-right: 3px solid rgb(0, 55, 255);
  padding-right: 30px;
}
@media (max-width: 576px) {
  header div nav ul li:not(:last-of-type) {
    padding-right: 2px;
    border-right: unset;
  }
}
header div nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 800;
}
@media (max-width: 576px) {
  header div nav ul li a {
    font-weight: 500;
  }
}
header div nav ul li a:hover {
  color: blue;
}

main .flex-container-main {
  width: 100%;
  padding-bottom: 8px;
}
@media (max-width: 576px) {
  main .flex-container-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: start;
    align-items: start;
    width: 100%;
  }
}
main .flex-container-main .medida-main .seccion-main {
  padding-top: 10px;
}
@media (max-width: 576px) {
  main .flex-container-main .medida-main .seccion-main {
    width: 550px;
    margin: 0px;
    padding: 0px;
  }
}
main .flex-container-main .medida-main .seccion-main h3 {
  font-size: 26px;
}
@media (max-width: 576px) {
  main .flex-container-main .medida-main .seccion-main h3 {
    font-size: 17px;
    margin-bottom: 10px;
  }
}
main .flex-container-main .medida-main .seccion-main p {
  font-size: 17px;
  text-align: justify;
}
@media (max-width: 576px) {
  main .flex-container-main .medida-main .seccion-main p {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  main .flex-container-main .medida-uno .medida-main-uno {
    width: 500px;
    height: 200px;
    padding-left: 45px;
  }
}

.seccionDos h3 {
  font-size: 26px;
}
@media (max-width: 576px) {
  .seccionDos h3 {
    font-size: 17px;
  }
}
.seccionDos .container-section {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 576px) {
  .seccionDos .container-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 10px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 100%;
    overflow-x: hidden;
  }
}
.seccionDos .container-section .seccion-index {
  width: 22%;
  margin-top: 20px;
  margin-right: 0px;
  background-color: lightblue;
  border: 2px solid rgb(85, 157, 181);
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
}
.seccionDos .container-section .seccion-index img {
  margin-top: 10px;
  width: 150px;
  height: 150px;
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index img {
    width: 110px;
    height: 110px;
    border-radius: 29% 71% 73% 27%/69% 45% 55% 31% !important;
  }
}
.seccionDos .container-section .seccion-index div h5 {
  font-size: 20px;
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index div h5 {
    font-size: 14px;
  }
}
.seccionDos .container-section .seccion-index div p {
  font-size: 17px;
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index div p {
    font-size: 10px;
  }
}

section .contact {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  section .contact {
    font-size: 17px;
  }
}
section form .medida-contacto {
  font-size: 17px;
}
@media (max-width: 576px) {
  section form .medida-contacto {
    font-size: 10px;
  }
}
section form .medida-contacto .button-enviar {
  background-color: lightgreen;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
section form .medida-contacto .button-enviar:hover {
  color: lightgreen;
  background-color: black;
  border: 2px solid lightgreen;
}
section form .medida-contacto .button-resetear {
  background-color: lightsalmon;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
section form .medida-contacto .button-resetear:hover {
  color: lightsalmon;
  background-color: black;
  border: 2px solid lightsalmon;
}
@media (max-width: 576px) {
  section a {
    font-size: 14px;
  }
}

footer {
  background-image: url(../../resources/summer_bkg_54_a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 576px) {
  footer {
    width: 100%;
  }
}
footer .flex-footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
}
footer .flex-footer .footer-primera {
  padding-top: 10px;
  margin-left: 60px;
  border-left: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
}
@media (max-width: 576px) {
  footer .flex-footer .footer-primera {
    margin-left: 50px;
    padding: 0px;
  }
}
footer .flex-footer .footer-primera p {
  font-size: 17px;
}
@media (max-width: 576px) {
  footer .flex-footer .footer-primera p {
    font-size: 10px;
  }
}
@media (max-width: 576px) {
  footer .flex-footer .footer-primera p {
    font-size: 10px;
  }
}
footer .flex-footer .footer-primera p a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
}
footer .flex-footer .footer-primera p a:hover {
  color: rgb(0, 255, 242);
}
@media (max-width: 576px) {
  footer .flex-footer .footer-primera p a {
    font-size: 10px;
    font-weight: 500;
  }
}
@media (max-width: 576px) {
  footer .flex-footer .footer-segunda {
    width: fit-content;
    font-size: 17px;
  }
}
footer .flex-footer .footer-segunda h6 {
  font-size: 20px;
  color: black !important;
}
@media (max-width: 576px) {
  footer .flex-footer .footer-segunda h6 {
    font-size: 14px;
  }
}
footer .flex-footer .footer-segunda button {
  margin-top: 10px;
  font-size: 17px;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
footer .flex-footer .footer-segunda button:hover {
  color: whitesmoke;
  background-color: black;
  border: 2px solid white;
}
@media (max-width: 576px) {
  footer .flex-footer .footer-segunda button {
    font-size: 10px;
  }
}
footer .flex-footer .footer-tercera {
  padding-bottom: 130px;
  width: 25%;
}
footer .flex-footer .footer-tercera h6 {
  font-size: 20px;
  color: black !important;
}
@media (max-width: 576px) {
  footer .flex-footer .footer-tercera h6 {
    font-size: 14px;
  }
}
footer .flex-footer .footer-tercera div {
  display: inline-block;
}
footer .flex-footer .footer-tercera div:not(:last-of-type) {
  padding-right: 10px;
}
@media (max-width: 576px) {
  footer .flex-footer .footer-tercera div:not(:last-of-type) {
    padding-right: 5px;
  }
}
@media (max-width: 576px) {
  footer .flex-footer .footer-tercera div img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 576px) {
  main .medida-container-app {
    padding: 0px;
  }
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app {
    width: 100%;
    padding-left: 20px;
  }
}
main .medida-container-app .medida-row-app:not(:last-of-type) {
  margin-bottom: 70px;
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app:not(:last-of-type) {
    margin-bottom: 35px;
  }
}
main .medida-container-app .medida-row-app:first-of-type {
  margin-top: 43px;
}
main .medida-container-app .medida-row-app h3 {
  font-size: 20px;
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app h3 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 10px;
  }
}
main .medida-container-app .medida-row-app p {
  font-size: 17px;
  text-align: justify;
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app p {
    font-size: 10px;
  }
}
main .medida-container-app .medida-row-app div .imagen-app {
  border-radius: 33% 67% 73% 27%/34% 66% 34% 66% !important;
  width: 100%;
  height: 150px;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app div .imagen-app {
    height: 120px;
    border-radius: 71% 29% 59% 41%/69% 45% 55% 31% !important;
  }
}

@media (max-width: 576px) {
  a {
    font-size: 14px;
  }
}

main h3 {
  font-size: 26px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  main h3 {
    font-size: 17px;
  }
}
main form .medida-contacto {
  font-size: 17px;
}
@media (max-width: 576px) {
  main form .medida-contacto {
    font-size: 10px;
  }
}
main form .button-enviar {
  background-color: lightgreen;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
main form .button-enviar:hover {
  color: lightgreen;
  background-color: black;
  border: 2px solid lightgreen;
}
main form .button-resetear {
  background-color: lightsalmon;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
main form .button-resetear:hover {
  color: lightsalmon;
  background-color: black;
  border: 2px solid lightsalmon;
}

main section .medida-row-app #medida-imagen-comunidad {
  border-radius: 24% 76% 22% 78%/69% 26% 74% 31% !important;
  height: 150px;
}
@media (max-width: 576px) {
  main section .medida-row-app #medida-imagen-comunidad {
    height: 125px;
  }
}

main h3 {
  font-size: 26px;
}
@media (max-width: 576px) {
  main h3 {
    font-size: 17px;
  }
}
main .contenedorHcMain {
  font-size: 17px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 576px) {
  main .contenedorHcMain {
    font-size: 10px;
  }
}
main .contenedorHcMain .contenedorHcMain-uno {
  margin-right: 100px;
  margin-left: 50px;
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-uno {
    margin-right: 0px;
  }
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-uno {
    margin-left: 10px;
  }
}
main .contenedorHcMain .contenedorHcMain-dos {
  margin-right: 100px;
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-dos {
    margin-right: 0px;
  }
}
main .contenedorHcMain .contenedorHcMain-tres {
  margin-right: 100px;
  margin-right: 0 px;
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-tres {
    margin-right: 0px;
  }
}
main .contenedorHcMain .contenedorHcMain-tres .buttonhc {
  background-color: lightseagreen;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  width: 100px;
}
main .contenedorHcMain .contenedorHcMain-tres .buttonhc:hover {
  color: lightseagreen;
  background-color: black;
  border: 2px solid lightseagreen;
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-tres .buttonhc {
    width: 70px;
    margin-right: 20px;
  }
}
main .contenedorHc {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
main .contenedorHc .hijodosHc h5 {
  font-size: 17px;
}
@media (max-width: 576px) {
  main .contenedorHc .hijodosHc h5 {
    font-size: 14px;
  }
}
main .contenedorHc .hijoHc img {
  width: 470px;
  height: 250px;
}
@media (max-width: 576px) {
  main .contenedorHc .hijoHc img {
    width: fit-content;
    height: 170px;
  }
}

/*# sourceMappingURL=main.css.map */
