* {
  margin: 0;
  padding: 0;
}

.btn, main .contenedorHcMain .contenedorHcMain-tres .buttonhc, main form .button-resetear, main form .button-enviar, footer .padding .footer-segunda button, .seccion-contacto form .medida-contacto .button-resetear, .seccion-contacto form .medida-contacto .button-enviar {
  border-radius: 20px;
}

.volver-arriba, a, .arriba a {
  padding-left: 20px;
  text-decoration: none;
  color: red;
}
.volver-arriba:hover, a:hover {
  color: rgb(0, 255, 149);
}

@keyframes movimiento-repetitivo {
  0% {
    transform: scale(1.1);
    transition: all 1s ease;
  }
  50% {
    transform: rotateX(30deg);
  }
  100% {
    background-image: radial-gradient(to right, white, blue);
  }
}
@keyframes sic-sac {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(0.98);
    transition: all 0.5s ease;
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(0.98);
    transition: all 0.5s ease;
  }
}
@keyframes titulo {
  0% {
    transform: translateY(-9px);
  }
  25% {
    transform: translateY(0.5px);
    transition: all 1s ease;
  }
  50% {
    transform: translateY(-9px);
  }
  100% {
    transform: translateY(0.5px);
    transition: all 1s ease;
  }
}
.scala-btn, main .contenedorHcMain .contenedorHcMain-tres .buttonhc:hover, main form .button-resetear:hover, main form .button-enviar:hover, footer .padding .footer-segunda button:hover, .seccion-contacto form .medida-contacto .button-resetear:hover, .seccion-contacto form .medida-contacto .button-enviar:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

@keyframes zoom-outin {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1.05);
  }
}
@media (max-width: 576px) {
  html,
  body {
    overflow-x: hidden !important;
  }
}

body {
  background-color: rgba(20, 121, 222, 0.164);
  font-family: "Roboto", italic !important;
  font-size: 19px;
}
@media (max-width: 576px) {
  body {
    position: relative;
  }
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../resources/head.jpg);
  padding-top: 10px;
  margin-bottom: 35px;
}
@media (max-width: 576px) {
  header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
header div {
  padding-left: 15px;
  display: inline-block;
}
@media (max-width: 576px) {
  header div {
    padding-left: 0px;
  }
}
header div h1 {
  font-size: 34px;
  color: rgb(0, 89, 255);
  animation-name: titulo;
  animation-duration: 2s;
  animation-timing-function: ease;
  transition: all 2s ease;
}
@media (max-width: 576px) {
  header div h1 {
    font-size: 23px;
  }
}
header div img {
  object-fit: cover;
  width: 75px;
  padding-bottom: 10px;
  animation-name: sic-sac;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@media (max-width: 576px) {
  header div img {
    width: 40px;
    padding-left: 3px;
  }
}
header .nav nav ul {
  text-align: start;
  font-size: 26px;
  margin-right: 17px;
}
@media (max-width: 576px) {
  header .nav nav ul {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    text-align: center;
    font-size: 14px;
  }
}
header .nav nav ul li {
  display: inline-block;
  padding-right: 10px;
  padding-left: 30px;
}
@media (max-width: 576px) {
  header .nav nav ul li {
    padding: 0px;
    width: fit-content;
    margin: 0px;
    margin-bottom: 4px;
  }
  header .nav nav ul li:not(:last-of-type) {
    margin-right: 20px;
  }
  header .nav nav ul li:last-of-type {
    margin-bottom: 10px;
  }
}
header .nav nav ul li:hover {
  transform: scale(1.25);
  transition: all 0.5s ease;
}
@media (max-width: 576px) {
  header .nav nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
  }
}
header .nav nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 800;
}
@media (max-width: 576px) {
  header .nav nav ul li a {
    font-weight: 500;
    font-size: 14px;
    padding: 0px;
  }
}
header .nav nav ul li a:hover {
  color: blue;
}

main {
  padding-top: 40px;
  padding-bottom: 40px;
}
main .flex-container-main {
  margin-left: 5px;
  width: 100%;
  padding-bottom: 8px;
}
main .flex-container-main .seccion-main h3 {
  font-size: 26px;
}
@media (max-width: 576px) {
  main .flex-container-main .seccion-main h3 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 15px;
  }
}
main .flex-container-main .seccion-main p {
  font-size: 20px;
  text-align: justify;
}
@media (max-width: 576px) {
  main .flex-container-main .seccion-main p {
    font-size: 10px;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  main .flex-container-main div .medida-main-uno {
    margin-bottom: 20px;
  }
}

.seccionDos {
  padding-top: 40px;
  padding-bottom: 70px;
  background-color: rgba(56, 166, 220, 0.071);
}
@media (max-width: 576px) {
  .seccionDos {
    padding-top: 25px;
    padding-bottom: 35px;
    background-color: rgba(255, 255, 255, 0.225);
  }
}
.seccionDos h3 {
  font-size: 26px;
  margin-bottom: 40px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .seccionDos h3 {
    font-size: 14px;
    margin-bottom: 30px;
  }
}
.seccionDos .container-section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.seccionDos .container-section .seccion-index {
  width: 23.5%;
  height: 470px;
  margin-right: 0px;
  background-color: lightblue;
  border: 2px solid rgb(85, 157, 181);
  transition: all 1s ease;
  padding: 0px;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index {
    width: 100%;
    height: auto;
    margin: 0px;
  }
  .seccionDos .container-section .seccion-index:not(:last-of-type) {
    margin-bottom: 40px;
  }
}
.seccionDos .container-section .seccion-index:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index:hover:hover {
    transform: scale(1.05);
    transition: all 1s ease;
  }
}
.seccionDos .container-section .seccion-index img {
  margin-top: 10px;
  height: 140px;
  object-fit: contain;
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index img {
    object-fit: contain;
    width: 150px;
    height: auto;
    border-radius: 29% 71% 73% 27%/69% 45% 55% 31% !important;
  }
}
.seccionDos .container-section .seccion-index div h5 {
  font-size: 24px;
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index div h5 {
    font-size: 14px;
  }
}
.seccionDos .container-section .seccion-index div p {
  font-size: 20px;
}
@media (max-width: 576px) {
  .seccionDos .container-section .seccion-index div p {
    font-size: 10px;
  }
}

.seccion-contacto {
  margin-top: 50px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;
  background-color: rgba(173, 216, 230, 0.46);
  border: 2px solid rgb(249, 244, 244);
  border-radius: 40px;
  width: fit-content;
  text-align: center;
}
@media (max-width: 576px) {
  .seccion-contacto {
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
.seccion-contacto .contact {
  font-size: 26px;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .seccion-contacto .contact {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.seccion-contacto form {
  padding-bottom: 30px;
}
@media (max-width: 576px) {
  .seccion-contacto form {
    padding-bottom: 5px;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
  }
}
.seccion-contacto form .medida-contacto {
  font-size: 24px;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto {
    font-size: 10px;
  }
}
.seccion-contacto form .medida-contacto label {
  padding-left: 20px;
  padding-top: 10px;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto label {
    padding: 0px;
  }
}
.seccion-contacto form .medida-contacto input {
  border: 1px solid black;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto input {
    margin-bottom: 7px;
  }
}
.seccion-contacto form .medida-contacto select {
  border: 1px solid black;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto select {
    width: 115px;
    margin-bottom: 7px;
  }
}
.seccion-contacto form .medida-contacto textarea {
  margin-top: 20px;
  border: 2px solid black;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto textarea {
    margin-top: 10px;
    width: 115px;
  }
}
.seccion-contacto form .medida-contacto .separador {
  margin-top: 30px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto .separador {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
.seccion-contacto form .medida-contacto .button-enviar {
  background-color: lightgreen;
  width: 100px;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto .button-enviar {
    width: 50px;
    background-color: lightseagreen;
  }
}
.seccion-contacto form .medida-contacto .button-enviar:hover {
  color: lightgreen;
  background-color: black;
  border: 2px solid lightgreen;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto .button-enviar:hover {
    color: lightseagreen;
    background-color: white;
    border: 1px solid lightseagreen;
  }
}
.seccion-contacto form .medida-contacto .button-resetear {
  background-color: lightsalmon;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  width: 110px;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto .button-resetear {
    width: 50px;
    background-color: lightcoral;
  }
}
.seccion-contacto form .medida-contacto .button-resetear:hover {
  color: lightsalmon;
  background-color: black;
  border: 2px solid lightsalmon;
}
@media (max-width: 576px) {
  .seccion-contacto form .medida-contacto .button-resetear:hover {
    color: lightcoral;
    background-color: rgb(251, 248, 248);
    border: 1px solid lightcoral;
  }
}

.arriba {
  margin-bottom: 40px;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .arriba {
    margin-bottom: 10px;
  }
}
@media (max-width: 576px) {
  .arriba a {
    font-size: 14px;
  }
}

footer {
  background-image: url(../resources/summer_bkg_54_a.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 15px;
}
@media (max-width: 576px) {
  footer {
    padding-bottom: 0px;
  }
}
footer .padding {
  padding-left: 30px;
}
@media (max-width: 576px) {
  footer .padding {
    padding-left: 0px;
  }
}
footer .padding .footer-primera {
  border-left: 4px solid rgba(0, 0, 0, 0.63);
  border-radius: 8px;
}
@media (max-width: 576px) {
  footer .padding .footer-primera {
    border: unset;
    borde: 0px;
    padding-bottom: 30px;
    text-align: center;
  }
}
footer .padding .footer-primera p {
  font-size: 24px;
  width: fit-content;
}
@media (max-width: 576px) {
  footer .padding .footer-primera p {
    font-size: 10px;
    width: 100%;
  }
}
footer .padding .footer-primera p:hover {
  transform: scale(1.25);
  transition: all 0.5s ease;
}
footer .padding .footer-primera p a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
}
footer .padding .footer-primera p a:hover {
  color: rgb(0, 110, 255);
}
@media (max-width: 576px) {
  footer .padding .footer-primera p a {
    font-size: 14px;
    font-weight: 500;
    padding: 0px;
  }
}
footer .padding .footer-segunda {
  margin-bottom: 30px !important;
}
footer .padding .footer-segunda h6 {
  font-size: 26px;
  color: black !important;
}
@media (max-width: 576px) {
  footer .padding .footer-segunda h6 {
    font-size: 14px;
  }
}
footer .padding .footer-segunda button {
  margin-top: 10px;
  width: 120px;
  font-size: 24px;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  footer .padding .footer-segunda button {
    width: 80px;
    font-size: 14px;
  }
}
footer .padding .footer-segunda button:hover {
  color: whitesmoke;
  background-color: black;
  border: 2px solid white;
}
footer .padding .footer-tercera {
  margin-bottom: 200px;
}
@media (max-width: 576px) {
  footer .padding .footer-tercera {
    margin-bottom: 40px;
  }
}
footer .padding .footer-tercera h6 {
  font-size: 24px;
  color: black !important;
}
@media (max-width: 576px) {
  footer .padding .footer-tercera h6 {
    font-size: 14px;
  }
}
footer .padding .footer-tercera .contenedordos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 576px) {
  footer .padding .footer-tercera .contenedordos {
    width: 38%;
  }
}
footer .padding .footer-tercera .contenedordos .redes {
  cursor: pointer;
  object-fit: contain;
}
footer .padding .footer-tercera .contenedordos .redes:hover {
  transform: scale(1.16);
  transition: all 1s ease;
}

main .medida-container-app {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  main .medida-container-app {
    padding: 0px;
  }
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app {
    width: 100%;
    padding-left: 20px;
  }
}
main .medida-container-app .medida-row-app:not(:last-of-type) {
  margin-bottom: 70px;
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app:not(:last-of-type) {
    margin-bottom: 35px;
  }
}
main .medida-container-app .medida-row-app:first-of-type {
  margin-top: 43px;
}
main .medida-container-app .medida-row-app h3 {
  font-size: 24px;
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app h3 {
    font-size: 14px;
    margin: 0px;
    margin-bottom: 10px;
  }
}
main .medida-container-app .medida-row-app p {
  font-size: 20px;
  text-align: justify;
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app p {
    font-size: 10px;
  }
}
main .medida-container-app .medida-row-app div .imagen-app {
  border-radius: 33% 67% 73% 27%/34% 66% 34% 66% !important;
  width: 100%;
  height: 150px;
  object-fit: contain;
  animation-name: movimiento-repetitivo;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  main .medida-container-app .medida-row-app div .imagen-app {
    height: 120px;
    border-radius: 71% 29% 59% 41%/69% 45% 55% 31% !important;
  }
}

@media (max-width: 576px) {
  a {
    font-size: 14px;
  }
}

main h3 {
  font-size: 26px;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  main h3 {
    font-size: 16px;
  }
}
main form .medida-contacto {
  font-size: 20px;
}
@media (max-width: 576px) {
  main form .medida-contacto {
    font-size: 10px;
  }
}
main form .button-enviar {
  background-color: lightgreen;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  main form .button-enviar {
    width: 50px;
  }
}
main form .button-enviar:hover {
  color: lightgreen;
  background-color: black;
  border: 2px solid lightgreen;
}
main form .button-resetear {
  background-color: lightsalmon;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
}
@media (max-width: 576px) {
  main form .button-resetear {
    width: 50px;
  }
}
main form .button-resetear:hover {
  color: lightsalmon;
  background-color: black;
  border: 2px solid lightsalmon;
}

main .medida-container-comunidad {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
}
main .medida-container-comunidad .seccion {
  border: 3px solid violet;
  border-radius: 20px;
  width: 45%;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}
main .medida-container-comunidad .seccion .imagenes {
  width: 40%;
  object-fit: contain !important;
  margin-top: 20px;
  margin-bottom: 10px;
  animation-name: zoom-outin;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-direction: alternate;
}
main .medida-container-comunidad .seccion div h4 {
  font-size: 26px;
  margin-bottom: 15px;
  margin-top: 20px;
}
main .medida-container-comunidad .seccion div p {
  font-size: 20px;
}
@media (max-width: 576px) {
  main .medida-container-comunidad .seccion div p {
    font-size: 10px;
  }
}

main {
  padding: 0px;
}
main h3 {
  font-size: 26px;
}
@media (max-width: 576px) {
  main h3 {
    font-size: 14px;
  }
}
main .contenedorHcMain {
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .contenedorHcMain .contenedorHcMain-uno {
  margin-right: 100px;
  margin-left: 50px;
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-uno {
    margin: 0px;
  }
}
main .contenedorHcMain .contenedorHcMain-dos {
  margin-right: 100px;
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-dos {
    margin: 0px;
  }
}
main .contenedorHcMain .contenedorHcMain-tres {
  margin-right: 100px;
  margin-right: 0 px;
}
@media (max-width: 576px) {
  main .contenedorHcMain .contenedorHcMain-tres {
    margin: 0px;
  }
}
main .contenedorHcMain .contenedorHcMain-tres .buttonhc {
  background-color: lightseagreen;
  -webkit-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  box-shadow: 12px -4px 34px -4px rgba(0, 0, 0, 0.51);
  width: 100px;
}
main .contenedorHcMain .contenedorHcMain-tres .buttonhc:hover {
  color: lightseagreen;
  background-color: black;
  border: 2px solid lightseagreen;
}
main .contenedorHc {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}
main .contenedorHc .hijodosHc h5 {
  font-size: 20px;
}
main .contenedorHc .hijoHc iframe {
  object-fit: contain;
  height: auto;
}

/*# sourceMappingURL=main.css.map */
