main {
    .medida-container-app {
        @include media-query-mobile(){
            padding: 0px;
        }
        .medida-row-app {
            @include media-query-mobile(){
                width: 100%;
                padding-left: 8px;
            }
            &:not(:last-of-type) {
                margin-bottom: 70px;
            }

            &:first-of-type {
                margin-top: 43px;
            }

            h3 {
                font-size: map-get($font-size, subtitle-2);
                @include media-query-mobile(){
                    font-size: map-get($font-size-mobile, subtitle-2);
                    margin: 0px;
                    margin-bottom: 10px;
                }
            }

            p {
                font-size: map-get($font-size, parrafo);
                text-align: justify;
                @include media-query-mobile(){
                    font-size: map-get($font-size-mobile, parrafo);
                }
            }

            div {
                img {
                    border-radius: 33% 67% 73% 27% / 34% 66% 34% 66% !important;
                    width: 100%;
                    height: 150px;
                    @include sombra;
                }
            }
        }
    }
}

a {
    @extend .volver-arriba;
    @include media-query-mobile(){
        font-size: map-get($font-size-mobile, subtitle-2);
    }
}