main {
    section {
        .medida-row-app {

            #medida-imagen-comunidad {
                border-radius: 24% 76% 22% 78% / 69% 26% 74% 31% !important;
                height: 150px;
                animation-name: movimiento-repetitivo;
                animation-duration: 3s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
                animation-direction: alternate;

                @include media-query-mobile() {
                    height: 125px;
                }

            }


        }
    }
}