main {
    section {
        .medida-row-app {

            #medida-imagen-comunidad {
                border-radius: 24% 76% 22% 78% / 69% 26% 74% 31% !important;
                height: 150px;
                @include media-query-mobile(){
                    height: 125px;
                }

            }


        }
    }
}