main {
    padding: 0px;
    h3 {
        font-size: map-get($font-size, subtitle);
        @include media-query-mobile(){
            font-size: map-get($font-size-mobile, subtitle-2);
        }
    }

    .contenedorHcMain {
        font-size: map-get($font-size, parrafo);
        @include flexbox(row nowrap, space-between, center);

        @each $x in uno, dos, tres {
            .contenedorHcMain-#{$x} {
                margin-right: 100px;
                @include media-query-mobile(){
                    margin: 0px;
                }

                @if $x==uno {
                    margin-left: 50px;
                }

                @else if $x==tres {
                    margin-right: 0 px;

                    .buttonhc {
                        @extend .btn;
                        background-color: lightseagreen;
                        @include sombra;
                        width: 100px;

                        &:hover {
                            color: lightseagreen;
                            background-color: black;
                            border: 2px solid lightseagreen;
                            @extend .scala-btn;
                        }
                    }
                }
            }
        }
    }

    .contenedorHc {
        @include flexbox(row nowrap, space-evenly, center);
        height: auto;

        .hijodosHc {
            h5 {
                font-size: map-get($font-size, parrafo);
            }
        }

        .hijoHc {
            iframe {
                object-fit: contain;
                height: auto;
            }
        }

    }
}