html,
body {
    @include media-query-mobile() {
        overflow-x: hidden !important;
    }
}

body {
    background-color: rgba(20, 121, 222, 0.164);
    font-family: 'Roboto', italic !important;
    font-size: 19px;

    @include media-query-mobile() {
        position: relative;
    }
}

header {
    @include flexbox(row nowrap, space-between, baseline);
    @include background(no-repeat, cover);
    background-image: url(../resources/head.jpg);
    padding-top: 10px;
    margin-bottom: 35px;

    @include media-query-mobile() {
        @include flexbox (column nowrap, space-between, center)
    }


    div {
        padding-left: 15px;
        display: inline-block;

        @include media-query-mobile() {
            padding-left: 0px;
        }

        h1 {
            font-size: map-get($font-size, title);
            color: rgb(0, 89, 255);
            animation-name: titulo;
            animation-duration: 2s;
            animation-timing-function: ease;
            transition: all 2s ease;

            @include media-query-mobile() {
                font-size: map-get($font-size-mobile, title);
            }

        }

        img {
            object-fit: cover;
            width: 75px;
            padding-bottom: 10px;
            animation-name: sic-sac;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            @include media-query-mobile() {
                width: 40px;
                padding-left: 3px;
            }

        }
    }

    .nav {
        nav {
            ul {
                text-align: start;
                font-size: map-get($font-size, subtitle);
                margin-right: 17px;

                @include media-query-mobile() {
                    margin: 0px;
                    padding: 0px;
                    padding-left: 20px;
                    text-align: center;
                    font-size: map-get($font-size-mobile, subtitle-2);
                }


                li {
                    display: inline-block;
                    padding-right: 10px;
                    padding-left: 30px;

                    @include media-query-mobile() {
                        padding: 0px;
                        width: fit-content;
                        margin: 0px;
                        margin-bottom: 4px;

                        &:not(:last-of-type) {
                            margin-right: 20px;
                        }

                        &:last-of-type {
                            margin-bottom: 10px;
                        }

                    }


                    &:hover {
                        transform: scale(1.25);
                        transition: all 0.5s ease;

                        @include media-query-mobile() {
                            transform: scale(1.1);
                            transition: transform 0.5s ease;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        font-weight: 800;

                        @include media-query-mobile() {
                            font-weight: 500;
                            font-size: map-get($font-size-mobile, subtitle-2);
                            padding: 0px;
                        }

                        &:hover {
                            color: blue;

                        }
                    }
                }
            }

        }

    }
}

main {
    padding-top: 40px;
    padding-bottom: 40px;

    .flex-container-main {
        margin-left: 5px;
        width: 100%;
        padding-bottom: 8px;


        .seccion-main {
            h3 {
                font-size: map-get($font-size, subtitle);

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, subtitle-2);
                    margin: 0px;
                    margin-bottom: 15px;
                }
            }

            p {
                font-size: map-get($font-size, parrafo);
                text-align: justify;

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, parrafo);
                    margin-bottom: 15px;
                }

            }
        }

        div {
            .medida-main-uno {
                @include media-query-mobile() {
                    margin-bottom: 20px;
                }
            }
        }


    }
}

.seccionDos {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: rgba(56, 166, 220, 0.071);
    @include media-query-mobile(){
        padding-top: 25px;
        padding-bottom: 35px;
        background-color: rgba(255, 255, 255, 0.225);

    }

    h3 {
        font-size: map-get($font-size, subtitle);
        margin-bottom: 40px;
        margin-left: 10px;
        @include media-query-mobile(){
            font-size: map-get($font-size-mobile, subtitle-2);
            margin-bottom: 30px;
        }
    }

    .container-section {
        width: 100%;
        @include flexbox(row wrap, space-evenly, center);

        .seccion-index {
            width: 23.5%;
            height: 500px;
            margin-right: 0px;
            background-color: lightblue;
            border: 2px solid rgb(85, 157, 181);
            transition: all 1s ease;
            padding: 0px;


            @include sombra;

            @include media-query-mobile() {
                width: 100%;
                height: auto;
                margin: 0px;
                &:not(:last-of-type){
                    margin-bottom: 40px;
                }

            }

            &:hover {
                transform: scale(1.1);
                transition: all 1s ease;

                @include media-query-mobile() {
                    &:hover {
                        transform: scale(1.05);
                        transition: all 1s ease;
                    }
                }
            }


            img {
                margin-top: 10px;
                height: 140px;
                object-fit: contain;

                @include media-query-mobile() {
                    object-fit: contain;
                    width: 150px;
                    height: auto;
                    border-radius: 29% 71% 73% 27% / 69% 45% 55% 31% !important;
                }
            }

            div {
                h5 {
                    font-size: map-get($font-size, subtitle-2);

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, subtitle-2);
                    }
                }

                p {
                    font-size: map-get($font-size, parrafo);

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, parrafo);
                    }
                }
            }
        }
    }
}

.seccion-contacto {
    margin-top: 50px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    background-color: rgba(173, 216, 230, 0.46);
    border: 2px solid rgb(249, 244, 244);
    border-radius: 40px;
    width: fit-content;
    text-align: center;
    @include media-query-mobile(){
        margin-top: 30px;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .contact {
        font-size: map-get($font-size, subtitle);
        text-align: center;
        margin-bottom: 30px;

        @include media-query-mobile() {
            font-size: map-get($font-size-mobile, subtitle-2);
            margin-bottom: 10px;
        }
    }


    form {
        padding-bottom: 30px;
        @include media-query-mobile(){
            padding-bottom: 5px;
            width: 35%;
            margin-left: auto;
            margin-right: auto;
        }

        .medida-contacto {
            font-size: map-get($font-size, subtitle-2);

            @include media-query-mobile() {
                font-size: map-get($font-size-mobile, parrafo)
            }

            label {
                padding-left: 20px;
                padding-top: 10px;

                @include media-query-mobile() {
                    padding: 0px;
                }

            }

            input {
                border: 1px solid black;
                @include media-query-mobile(){
                    margin-bottom: 7px;
                }
            }

            select {
                border: 1px solid black;
                @include media-query-mobile(){
                    width: 115px;
                    margin-bottom: 7px;
                }
            }

            textarea {
                margin-top: 20px;
                border: 2px solid black;

                @include media-query-mobile() {
                    margin-top: 10px;
                    width: 115px;
                }
            }


            .separador {
                margin-top: 30px;
                margin-bottom: 20px;

                @include media-query-mobile() {
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
            }

            .button-enviar {
                @extend .btn;
                background-color: lightgreen;
                width: 100px;
                @include sombra;

                @include media-query-mobile() {
                    width: 50px;
                    background-color: lightseagreen;
                }


                &:hover {
                    color: lightgreen;
                    background-color: black;
                    border: 2px solid lightgreen;
                    @extend .scala-btn;
                    @include media-query-mobile() {
                        color: lightseagreen;
                        background-color: white;
                        border: 1px solid lightseagreen;

                    }
                }
            }

            .button-resetear {
                @extend .btn;
                background-color: lightsalmon;
                @include sombra;
                width: 110px;

                @include media-query-mobile() {
                    width: 50px;
                    background-color: lightcoral;
                }

                &:hover {
                    color: lightsalmon;
                    background-color: black;
                    border: 2px solid lightsalmon;
                    @extend .scala-btn;
                    @include media-query-mobile(){
                        color: lightcoral;
                        background-color: rgb(251, 248, 248);
                        border: 1px solid lightcoral;
                    }
                }
            }
        }
    }


}

.arriba {
    margin-bottom: 40px;
    margin-left: 10px;

    @include media-query-mobile() {
        margin-bottom: 10px;
    }

    a {
        @extend .volver-arriba;

        @include media-query-mobile() {
            font-size: map-get($font-size-mobile, subtitle-2);
        }
    }
}


footer {
    background-image: url(../resources/summer_bkg_54_a.jpg);
    @include background(no-repeat, cover);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    @include media-query-mobile(){
        padding-bottom: 0px;
    }

    .padding {
        padding-left: 30px;
        @include media-query-mobile(){
            padding-left: 0px;
        }

        .footer-primera {
            border-left: 4px solid rgba(0, 0, 0, 0.63);
            border-radius: 8px;
            @include media-query-mobile(){
                border: unset;
                borde: 0px;
                padding-bottom: 30px;
                text-align: center;
            }

            p {
                font-size: map-get($font-size, subtitle-2);
                width: fit-content;

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, parrafo);
                    width: 100%;

                }

                &:hover {
                    transform: scale(1.25);
                    transition: all 0.5s ease;
                }

                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-weight: 400;

                    &:hover {
                        color: rgb(0, 110, 255);
                    }

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, subtitle-2);
                        font-weight: 500;
                        padding: 0px;
                    }
                }
            }
        }

        .footer-segunda {
            @include media-query-mobile(){
                margin-bottom: 40px !important;
            }
            h6 {
                font-size: map-get($font-size, subtitle);
                color: black !important;

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, subtitle-2);
                }
            }

            button {
               
                margin-top: 10px;
                width: 120px;
                @extend .btn;
                font-size: map-get($font-size, subtitle-2);
                @include sombra;
                @include media-query-mobile(){
                    width: 80px;
                    font-size: map-get($font-size-mobile, subtitle-2);
                }

                &:hover {
                    color: whitesmoke;
                    background-color: black;
                    border: 2px solid white;
                    @extend .scala-btn;
                }
            }
        }

        .footer-tercera {

            margin-bottom: 200px;
            @include media-query-mobile(){
                margin-bottom: 40px;
            }

            h6 {
                font-size: map-get($font-size, subtitle-2);
                color: black !important;
                @include media-query-mobile(){
                    font-size: map-get($font-size-mobile, subtitle-2)
                }
            }

            .contenedordos {
                @include flexbox (row nowrap, space-between, center);
                width: 30%;
                margin-left: auto;
                margin-right: auto;
                @include media-query-mobile(){
                    width: 38%;
                }

                .redes {
                    cursor: pointer;
                    object-fit: contain;


                    &:hover {
                        transform: scale(1.16);
                        transition: all 1s ease;

                    }

                }

            }
        }
    }




}