html,
body {
    @include media-query-mobile() {
        overflow-x: hidden !important;
    }
}

body {
    background-image: url(../resources/main.jpg);
    @include background(no-repeat, cover);
    font-family: 'Roboto', italic !important;
    font-size: 19px;

    @include media-query-mobile() {
        position: relative;
    }
}

header {
    @include flexbox(row nowrap, space-between, baseline);
    @include background(no-repeat, cover);
    background-image: url(../resources/head.jpg);
    padding-top: 10px;
    margin-bottom: 35px;

    @include media-query-mobile() {
        margin-bottom: 23px;
    }

    div {
        padding-left: 15px;
        display: inline-block;

        @include media-query-mobile() {
            padding-left: 2px;
        }

        h1 {
            font-size: map-get($font-size, title);
            color: rgb(0, 89, 255);
            animation-name: titulo;
            animation-duration: 2s;
            animation-timing-function: ease;
            transition: all 2s ease;

            @include media-query-mobile() {
                font-size: map-get($font-size-mobile, title);
            }

        }

        img {
            width: 50px;
            padding-bottom: 10px;
            animation-name: sic-sac;
            animation-duration: 0.7s;
            animation-timing-function: ease;
            animation-iteration-count: infinite;
            animation-direction: alternate;

            @include media-query-mobile() {
                width: 40px;
                padding-left: 5px;
            }

        }
    }

    div {
        nav {
            ul {
                text-align: start;
                font-size: map-get($font-size, parrafo);
                padding-top: 10px;
                margin-right: 17px;

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, parrafo);
                    margin: 0px;
                    padding: 0px;
                    padding-top: 8px;
                    padding-right: 8px;
                    width: 100%;

                }

                li {
                    display: inline-block;
                    padding-right: 10px;
                    padding-left: 30px;

                    @include media-query-mobile() {
                        padding: 0px;
                        margin: 0px;
                    }

                    &:hover {
                        transform: scale(1.25);
                        transition: all 0.5s ease;

                        @include media-query-mobile() {
                            transform: scale(1.1);
                            transition: transform 0.5s ease;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: rgb(0, 0, 0);
                        font-weight: 800;

                        @include media-query-mobile() {
                            font-weight: 500;
                        }

                        &:hover {
                            color: blue;

                        }
                    }
                }
            }

        }

    }
}

main {

    .flex-container-main {
        width: 100%;
        padding-bottom: 8px;

        @include media-query-mobile() {
            @include flexbox(column wrap, start, start);
        }

        .medida-main {
            .seccion-main {
                padding-top: 10px;

                @include media-query-mobile() {
                    width: 550px;
                    margin: 0px;
                    padding: 0px;

                }


                h3 {
                    font-size: map-get($font-size, subtitle);

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, subtitle);
                        margin-bottom: 10px;
                    }
                }

                p {
                    font-size: map-get($font-size, parrafo);
                    text-align: justify;

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, parrafo);

                    }
                }
            }
        }

        .medida-uno {
            .medida-main-uno {
                @include media-query-mobile() {
                    width: 500px;
                    height: 200px;
                    padding-left: 45px;
                }
            }
        }


    }
}

.seccionDos {
    h3 {
        font-size: map-get($font-size, subtitle);

        @include media-query-mobile() {
            font-size: map-get($font-size-mobile, subtitle);
        }
    }

    .container-section {
        width: 100%;
        margin-bottom: 20px;
        @include flexbox(row nowrap, space-between, baseline);

        @include media-query-mobile() {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            row-gap: 40px;
            column-gap: 10px;
            justify-content: center;
            margin: 0px;
            padding: 0px;
            padding-top: 10px;
            padding-bottom: 25px;
            width: 100%;

        }

        .seccion-index {
            width: 22%;
            height: 450px;
            margin-right: 0px;
            background-color: lightblue;
            border: 2px solid rgb(85, 157, 181);
            transition: all 1s ease;
            padding: 0px;
            

            @include sombra;

            @include media-query-mobile() {
                width: 100%;
                height: 250px;
                margin: 0px;
                
            }

            &:hover {
                transform: scale(1.1);
                transition: all 1s ease;

                @include media-query-mobile() {
                    &:hover {
                        transform: scale(1.05);
                        transition: all 1s ease;
                    }
                }
            }


            img {
                margin-top: 10px;
                width: 150px;
                height: 150px;

                @include media-query-mobile() {
                    width: 110px;
                    height: 110px;
                    border-radius: 29% 71% 73% 27% / 69% 45% 55% 31% !important;
                }
            }

            div {
                h5 {
                    font-size: map-get($font-size, subtitle-2);

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, subtitle-2);
                    }
                }

                p {
                    font-size: map-get($font-size, parrafo);

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, parrafo);
                    }
                }
            }
        }
    }
}

section {
    .contact {
        font-size: map-get($font-size, subtitle);
        text-align: center;
        margin-bottom: 20px;

        @include media-query-mobile() {
            font-size: map-get($font-size-mobile, subtitle);
        }
    }


    form {
        .medida-contacto {
            font-size: map-get($font-size, parrafo);

            @include media-query-mobile() {
                font-size: map-get($font-size-mobile, parrafo)
            }

            .button-enviar {
                @extend .btn;
                background-color: lightgreen;
                @include sombra;

                @include media-query-mobile() {
                    width: 50px;
                }


                &:hover {
                    color: lightgreen;
                    background-color: black;
                    border: 2px solid lightgreen;
                    @extend .scala-btn;
                }
            }

            .button-resetear {
                @extend .btn;
                background-color: lightsalmon;
                @include sombra;

                @include media-query-mobile() {
                    width: 50px;
                }

                &:hover {
                    color: lightsalmon;
                    background-color: black;
                    border: 2px solid lightsalmon;
                    @extend .scala-btn;
                }
            }
        }
    }

    a {
        @extend .volver-arriba;

        @include media-query-mobile() {
            font-size: map-get($font-size-mobile, subtitle-2);
        }
    }
}


footer {
    background-image: url(../resources/summer_bkg_54_a.jpg);
    @include background(no-repeat, cover);

    @include media-query-mobile() {
        width: 100%
    }

    .flex-footer {
        @include flexbox(row nowrap, space-evenly, center);
        padding-top: 20px;
        padding-bottom: 15px;

        .footer-primera {
            padding-top: 10px;
            margin-left: 60px;
            border-left: 2px solid rgb(0, 0, 0);
            border-radius: 8px;

            @include media-query-mobile() {
                margin-left: 50px;
                padding: 0px;
            }

            p {
                font-size: map-get($font-size, parrafo);
                width: 120px;

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, parrafo);
                }

                &:first-of-type {
                    @include media-query-mobile() {
                        width: 70px;
                    }
                }

                &:last-of-type {
                    width: 200px;
                }

                &:nth-of-type(2) {
                    width: 50px;
                    text-align: center;

                    @include media-query-mobile() {
                        width: 40px;
                        padding: 0px;
                    }
                }

                &:nth-of-type(3) {
                    @include media-query-mobile() {
                        width: 80px;
                        text-align: start;
                    }
                }

                &:hover {
                    transform: scale(1.25);
                    transition: all 0.5s ease;
                }

                a {
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    font-weight: 400;

                    &:hover {
                        color: rgb(0, 255, 242);
                    }

                    @include media-query-mobile() {
                        font-size: map-get($font-size-mobile, parrafo);
                        font-weight: 500;
                    }
                }
            }
        }

        .footer-segunda {
            @include media-query-mobile() {
                width: fit-content;
                font-size: map-get($font-size, parrafo);
            }

            h6 {
                font-size: map-get($font-size, subtitle-2);
                color: black !important;

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, subtitle-2);
                }
            }

            button {
               
                margin-top: 10px;
                @extend .btn;
                font-size: map-get($font-size, parrafo);
                @include sombra;

                &:hover {
                    color: whitesmoke;
                    background-color: black;
                    border: 2px solid white;
                    @extend .scala-btn;
                }

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, parrafo);
                }
            }
        }

        .footer-tercera {
            padding-bottom: 130px;
            width: 25%;

            h6 {
                font-size: map-get($font-size, subtitle-2);
                color: black !important;

                @include media-query-mobile() {
                    font-size: map-get($font-size-mobile, subtitle-2);
                }
            }

            div {
                display: inline-block;

                &:not(:last-of-type) {
                    padding-right: 10px;

                    @include media-query-mobile() {
                        padding-right: 5px;
                    }
                }

                img {
                    @include media-query-mobile() {
                        width: 25px;
                        height: 25px;

                    }
                }

                .redes {
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.16);
                        transition: all 1s ease;

                    }
                }

            }
        }
    }

}